


//comentarios en sass

//voy a importar boostrap

@import"../bootstrap-4.4.1/scss/bootstrap.scss";

body{
    font-family: "ubuntu";
    font-weight: 300;
}

.inicio {
font-weight: 500;
}



a{
	color: $secondary;

	&:hover{
		text-decoration: none;
	}
}	

.pormayor{
  font-size: 48px;
  margin-bottom: 30px;
}


.main-header {
    position: relative;
    background: url(../img/fachada1.jpg);
    background-size: cover;
    min-height: 500px;
  } /* le pongo la imagen de  fondo a mi header*/
  

  hr .linea {
      color: #fff;
      font-size: 25px;
      height: 5px;
      font-weight: 5x;
  }



  .member-container {
    position: relative;
    margin: 10px 0;
}

.member-container img {
    border-radius: 2px;
}

.member-information {
    position: absolute;
    color: #ffffff;
    bottom: 10px;
    left: 20px;
    -moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.member-information:hover {
    -moz-transform: translate(0, -15px);
	-webkit-transform: translate(0, -15px);
	transform: translate(0, -15px);
}

.member-information h4 {
    font-size: 18px;
    line-height: .9px;
}

.member-information p {
    color: rgba(256, 256, 256, .7)
}

.member-information i {
    color: #ffffff;
    font-size: 22px;
    margin-right: 10px;
}






  
  .background-overlay {

    background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }  /* le pongo fondo transparente*/


    .footer{
        position: relative;
 
        width: 1000px;
  
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  } /* color de fondo para las  tarjetas y para el footer*/

  .products-masonry {
	.card{
		text-align: center;
		border: none;
		margin-bottom: 40px;

		h5{
			text-transform: uppercase;
			font-weight: 300;

			&::before{
				content: '';
				display: block;
				width: 70px;
				height: 2px;
				background: $primary;
				margin: 15px auto 30px;
			}
        }
    }
}

.zorra{
  font-size: 100px;
}

.carrito{
  font-size: 100px;
}

.cajas{
  font-size: 100px;
}



.vamos{
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.centro{
  font-size: 25px;

}


.despacho{
  font-size: 16px;
  font-family: 'Ramabhadra';
  color: black;
}

.descrip{
  font-size: 16px;
  font-family: 'Ramabhadra';
}

.ayuda{
 font-size: 30px;
}

.telefono{
  font-size: 30px;
}

.tel2{
  font-size: 30px;
}

.email{
  font-size: 30px;
}
